* {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    grid-template-rows: 300px repeat(auto-fill, minmax(1vh, auto));
}

.header {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    background-color: whitesmoke;
}

.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: green;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
    gap: 10px;
}

.icons {
    display: grid;
    margin-left: 50px;
    gap: 60px;
}

img#dashboard {
    margin-left: -20px;
}

.buttons {
    display: grid;
    gap: 60px;
}

button {
    background-color: green;
    border: none;
    color: black;
}

.main {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: lightslategray;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.projects {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/4;
    gap: 15px;
}

.project-info {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50%, auto);
}

.announcements {
    grid-column: 1/2;
    grid-row: 1/2;
}

.trending {
    grid-column: 1/2;
    grid-row: 2/3;
}