.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    display: grid;
    grid-column: 2 / 3;
}

.sidebar {
    display: grid;
    grid-column: 1 / 2;
}

.main {
    display: grid;
    grid-column: 2 / 3;
}