@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Roboto&display=swap');

/* XS: Phones */
@media only screen and (max-width: 600px) {
	#flexbox-container { min-width: 600px; }
}

/* S: Portrait Tablets/Large Phones 600+ */
@media only screen and (min-width: 600px) {
	#flexbox-container { width: 100%; }
}

/* M: Landscape Tablets 768+
@media only screen and (min-width: 768px) {
	#flexbox-container { width: 600px; }
}

/* L: Laptops/Desktops 992+
@media only screen and (min-width: 992px) {
	#flexbox-container { width: 600px; }
}

/* XL: Desktops 1200px+ 
@media only screen and (min-width: 1200px) {
	#flexbox-container { width: 600px; }
} */


* {
	font-family: 'Crimson Text', serif;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	margin: 0;
}

#flex-container {
	height: 100vh;
    display: flex;
	border: solid black 1px;
}
.mobile#flex-container {
    flex-direction: column;
}

#logo-container {
    display: flex;
    flex-direction: column;
	width: 35%;
	justify-content: center;
}
.mobile#logo-container {
    width: 100%;
}

#logo {
	max-height: 20vh;
}

#logo-text {
	display: flex;
	align-items: center;
	font-size: 2rem;
}

#logo-text-box {
	display: flex;
	background-color: gray;
	opacity: 0.8;
	width: 100%;
	justify-content: center;
}

#logo-background {
	position: absolute;
	left: 0;
	width: 35%;
	height: 100%;
}
.mobile#logo-background {
    position: relative;
    width: 100%;
}

#background-source {
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 35%;
	font-size: 0.8em;
	background-color: lightgray;
	opacity: 0.8;
	text-decoration-color: black;
}
.mobile#background-source {
	position: relative;
	width: 100;
}

#signup-container {
    display: flex;
    flex-direction: column;
	min-width: 65%;
	background: lightgray;
	justify-content: space-evenly;
}

#signup-header {
	margin-left: 2rem;
}

#signup-form {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: white;
	padding: 1rem;
	height: 30%;
	box-shadow: 2px 5px 5px slategray;
	align-content: center;
	flex-wrap: wrap;
}

column {
	margin-bottom: 1rem;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	width: 40%;
	align-content: center;
}

input {
	margin-bottom: 1rem;
}
input:invalid {
	border-color: #900;
	background-color: #fdd;
}
input:focus:invalid {
	outline: none;
}

.error {
	width: 100%;
	padding: 0;
	font-size: 80%;
	color: white;
	background-color: #900;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
}
.error.active {
	padding: 0.3em;
}

#signup-submit {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	margin-left: 2rem;
}

#create-account {
	border: none;
	color: green;
	background-color: white;
	box-shadow: 5px 5px 5px slategray;
	text-align: center;
	font-size: 16px;
	border-radius: 12px;
	padding: 16px;
	margin-bottom: 2rem;
	width: 30%;
}

a {
	text-decoration: none;
	color: green;
}