nav {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    width: 50vw;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

h1, header, h3 {
    display: flex;
    justify-content: center;
    background-color: #6E360E;
    color: #FEFAF5;
}

.section {
    display: flex;
    align-items: center;
    border: double 5px #FEFAF5;
    border-radius: 50%;
    flex-direction: column;
    width: 25vw;
    margin: 5% auto;
    padding: 5%;
    background-color: #6E360E;
    color: #FEFAF5;
}

body {
    background-image: url(./beans-round-border.jpg);
    background-size: 100% 100%;
}