* {
    margin: 0;
    font-size: 1.2rem;
}

table#library-table {
    width: 100vw;
}

th {
    border: solid 5px green;
}

td {
    border-left: dashed 2px green;
    border-right: dashed 2px green;
}

td.delete-button {
    display: flex;
    justify-content: center;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-modal {
    align-self: flex-end;
}