* {
    margin: 0;
    font-size: 1.2rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.bookshelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button.open-modal {
    width: fit-content;
}

.modal-form {
    margin-top: 50px;
    margin-left: 50%;
}

form#add-to-library {
    display: flex;
    flex-direction: column;
    align-items: center;
}