@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
}

img {
    width: 300px;
}

header {
    background-color: rgb(31, 41, 56) 12% 78%);
    padding: 16px;
}

.nav-bar {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: ;
}

li {
    list-style: none;
    padding: 16px;
}

a {
    text-decoration: none;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.logo {
    width: 300px;
    border-radius: 250px;
}

main {
    display: flex;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.testimonial {
    background-color: #E5E7EB;
}

.testimonial-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.call-to-action {
    background-color: #3882F6;
}

button {
    background-color: #3882F6;
    color: white;   
}